/* Tema Oscuro */
:root {
    --bg-color: #121212;
    --text-color: #e0e0e0;
    --card-bg: #1e1e1e;
    --border-color: #333333;
    --primary-color: #bb86fc;
}

body.oscuro {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.oscuro .card {
    background-color: var(--card-bg);
    border-color: var(--border-color);
    color: var(--text-color);
}

.oscuro .card-header {
    background-color: #2c2c2c;
    border-bottom-color: var(--border-color);
}

.oscuro .list-group-item {
    background-color: var(--card-bg);
    border-color: var(--border-color);
    color: var(--text-color);
}

.oscuro .form-control {
    background-color: #2c2c2c;
    border-color: #444;
    color: #fff;
}

.oscuro .form-control:focus {
    background-color: #333;
    color: #fff;
}